<div class="featured-products">
	<h6 class="subtitle">Practice Advice</h6>
	<h2 class="content-title">Featured Products</h2>
	<p class="content-description">
		Problems trying to resolve the conflict between<br />
		the two major realms of Classical physics: Newtonian mechanics
	</p>
	<div class="slider-user multiple-items-user">
		<div class="user-item">
			<img class="user-photo" src="./img/user-1.jpg" alt="" />
			<p class="user-text">
				Slate helps you see how many more days you need to work to reach
				your financial goal for the month and year.
			</p>
			<img class="stars" src="./img/stars.png" alt="" />
			<h5 class="user-title">Regina Miles</h5>
			<h6 class="user-position">Designer</h6>
		</div>
		<div class="user-item">
			<img class="user-photo" src="./img/user-2.jpg" alt="" />
			<p class="user-text">
				Slate helps you see how many more days you need to work to reach
				your financial goal for the month and year.
			</p>
			<img class="stars" src="./img/stars.png" alt="" />
			<h5 class="user-title">Regina Miles</h5>
			<h6 class="user-position">Designer</h6>
		</div>
		<div class="user-item">
			<img class="user-photo" src="./img/user-1.jpg" alt="" />
			<p class="user-text">
				Slate helps you see how many more days you need to work to reach
				your financial goal for the month and year.
			</p>
			<img class="stars" src="./img/stars.png" alt="" />
			<h5 class="user-title">Regina Miles</h5>
			<h6 class="user-position">Designer</h6>
		</div>
		<div class="user-item">
			<img class="user-photo" src="./img/user-2.jpg" alt="" />
			<p class="user-text">
				Slate helps you see how many more days you need to work to reach
				your financial goal for the month and year.
			</p>
			<img class="stars" src="./img/stars.png" alt="" />
			<h5 class="user-title">Regina Miles</h5>
			<h6 class="user-position">Designer</h6>
		</div>
	</div>
</div>
