<footer class="footer">
	<div class="container">
		<div class="get-in-touch">
			<h3>Get In Touch</h3>
			<p>the quick fox jumps over the lazy dog</p>
			<div class="social">
				<a href=""> <img src="./img/facebook.svg" alt="" /> </a>
				<a href=""> <img src="./img/instagramm.svg" alt="" /> </a>
				<a href=""> <img src="./img/twitter.svg" alt="" /> </a>
			</div>
		</div>
		<div class="company-info">
			<h3>Company info</h3>
			<ul>
				<li><a href="">About Us</a></li>
				<li class="margin-link"><a href="">Carrier</a></li>
				<li class="margin-link"><a href="">We are hiring</a></li>
				<li class="margin-link"><a href="">Blog</a></li>
			</ul>
		</div>
		<div class="features">
			<h3>Features</h3>
			<ul>
				<li><a href="">Business Marketing</a></li>
				<li class="margin-link"><a href="">User Analytic</a></li>
				<li class="margin-link"><a href="">Live Chat</a></li>
				<li class="margin-link"><a href="">Unlimited Support</a></li>
			</ul>
		</div>
		<div class="resources">
			<h3>Resources</h3>
			<ul>
				<li><a href="">IOS & Android</a></li>
				<li class="margin-link"><a href="">Watch a Demo</a></li>
				<li class="margin-link"><a href="">Customers</a></li>
				<li class="margin-link"><a href="">API</a></li>
			</ul>
		</div>
	</div>
</footer>
