<header class="header">
	<div class="header-filter">
		<div class="container">
			<nav>
				<div class="toggle" id="toggle">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
				<a class="logo" href=""><span>BrandName</span></a>
				<ul class="menu">
					<a href=""><li class="menu__item">Home</li></a>
					<a href=""><li class="menu__item">Product</li></a>
					<a href=""><li class="menu__item">Pricing</li></a>
					<a href=""><li class="menu__item">Contact</li></a>
				</ul>
				<div class="admin">
					<a class="login-link" href=""><span>Login</span></a>
					<button type="button" class="join">Become a member</button>
				</div>
			</nav>
			<ul class="mobile-menu" id="myLinks">
				<a href=""><li class="mobile-menu__item">Home</li></a>
				<a href=""><li class="mobile-menu__item">Product</li></a>
				<a href=""><li class="mobile-menu__item">Pricing</li></a>
				<a href=""><li class="mobile-menu__item">Contact</li></a>
			</ul>

			<h5>Welcome</h5>
			<h1>COURSES OF EXCELLENT QUALITY</h1>
			<h4>
				We know how large objects will act, but things on a small scale
			</h4>
			<button type="button" class="join-us">Join Us</button>
		</div>
	</div>
</header>
