<header class="header">
	<div class="header-filter">
		<div class="container">
			<nav>
				<a class="logo" href=""><span>BrandName</span></a>
				<ul class="menu">
					<li class="menu__item">Home</li>
					<li class="menu__item">Product</li>
					<li class="menu__item">Pricing</li>
					<li class="menu__item">Contact</li>
				</ul>
				<div class="admin">
					<a class="login-link" href=""><span>Login</span></a>
					<button class="join">Become a member</button>
				</div>
			</nav>
			<h5>Welcome</h5>
			<h1>COURSES OF EXCELLENT QUALITY</h1>
			<h4>
				We know how large objects will act, but things on a small scale
			</h4>
			<button class="join-us">Join Us</button>
		</div>
	</div>
</header>
