<div class="make-online-education">
	<h6 class="subtitle">Practice Advice</h6>
	<h2 class="content-title">Make online education accessible</h2>
	<p class="content-description">
		Problems trying to resolve the conflict between<br />
		the two major realms of Classical physics: Newtonian mechanics
	</p>
	<div class="slider-education multiple-items">
		<div class="product-card">
			<div class="product-card-top first">
				<span>Sale</span>
				<div class="product-actions">
					<div class="product-actions-item">
						<img class="like" src="../img/like.svg" />
					</div>
					<div class="product-actions-item">
						<img class="basket" src="../img/basket.svg" />
					</div>
					<div class="product-actions-item">
						<img class="show" src="../img/show.svg" />
					</div>
				</div>
			</div>
			<div class="product-card-bottom">
				<div class="product-category">
					<a class="link" href="#">English Departement</a>
					<div class="rate">
						<span>4.9</span>
					</div>
				</div>
				<h5 class="product-title">Graphic Design</h5>
				<p class="product-description">
					We focus on ergonomics and meeting you where you work. It's
					only a keystroke away.
				</p>
				<h6 class="sales">15 Sales</h6>
				<div class="price-box">
					<h5 class="price">$16.48</h5>
					<h5 class="new-price">$6.48</h5>
				</div>
				<div class="info">
					<span class="time">22hr 30min</span>
					<span class="lessons">64 Lessons</span>
					<span class="progress">Progress</span>
				</div>
				<button class="learn-more-btn">Learn More</button>
			</div>
		</div>
		<div class="product-card">
			<div class="product-card-top second">
				<span>Sale</span>
				<div class="product-actions">
					<div class="product-actions-item">
						<img class="like" src="../img/like.svg" />
					</div>
					<div class="product-actions-item">
						<img class="basket" src="../img/basket.svg" />
					</div>
					<div class="product-actions-item">
						<img class="show" src="../img/show.svg" />
					</div>
				</div>
			</div>
			<div class="product-card-bottom">
				<div class="product-category">
					<a class="link" href="#">English Departement</a>
					<div class="rate">
						<span>4.9</span>
					</div>
				</div>
				<h5 class="product-title">Graphic Design</h5>
				<p class="product-description">
					We focus on ergonomics and meeting you where you work. It's
					only a keystroke away.
				</p>
				<h6 class="sales">15 Sales</h6>
				<div class="price-box">
					<h5 class="price">$16.48</h5>
					<h5 class="new-price">$6.48</h5>
				</div>
				<div class="info">
					<span class="time">22hr 30min</span>
					<span class="lessons">64 Lessons</span>
					<span class="progress">Progress</span>
				</div>
				<button class="learn-more-btn">Learn More</button>
			</div>
		</div>
		<div class="product-card">
			<div class="product-card-top third">
				<span>Sale</span>
				<div class="product-actions">
					<div class="product-actions-item">
						<img class="like" src="../img/like.svg" />
					</div>
					<div class="product-actions-item">
						<img class="basket" src="../img/basket.svg" />
					</div>
					<div class="product-actions-item">
						<img class="show" src="../img/show.svg" />
					</div>
				</div>
			</div>
			<div class="product-card-bottom">
				<div class="product-category">
					<a class="link" href="#">English Departement</a>
					<div class="rate">
						<span>4.9</span>
					</div>
				</div>
				<h5 class="product-title">Graphic Design</h5>
				<p class="product-description">
					We focus on ergonomics and meeting you where you work. It's
					only a keystroke away.
				</p>
				<h6 class="sales">15 Sales</h6>
				<div class="price-box">
					<h5 class="price">$16.48</h5>
					<h5 class="new-price">$6.48</h5>
				</div>
				<div class="info">
					<span class="time">22hr 30min</span>
					<span class="lessons">64 Lessons</span>
					<span class="progress">Progress</span>
				</div>
				<button class="learn-more-btn">Learn More</button>
			</div>
		</div>
	</div>
</div>
