<div class="packages">
	<h6 class="subtitle">Practice Advice</h6>
	<h2 class="content-title">Packages that are aprodable</h2>
	<p class="content-description">
		Problems trying to resolve the conflict between<br />
		the two major realms of Classical physics: Newtonian mechanics
	</p>
	<div class="courses">
		<div class="courses__item">
			<div class="red-element">
				<img src="./img/heart.svg" alt="" />
			</div>
			<h5>training Courses</h5>
			<div class="red-line"></div>
			<p>The gradual accumulation and small-scale..</p>
		</div>
		<div class="courses__item">
			<div class="red-element">
				<img src="./img/flag.svg" alt="" />
			</div>
			<h5>training Courses</h5>
			<div class="red-line"></div>
			<p>The gradual accumulation and small-scale..</p>
		</div>
	</div>
</div>
