<div class="packages">
	<h6>Practice Advice</h6>
	<h2>Packages that are aprodable</h2>
	<p>
		Problems trying to resolve the conflict between the two major realms of
		Classical physics: Newtonian mechanics
	</p>
	<div class="courses">
		<div lass="courses__item">
			<div class="red-element">
				<img src="./img/heart.svg" alt="" />
			</div>
			<h5>training Courses</h5>
			<div class="red-line"></div>
			<p>The gradual accumulation and small-scale..</p>
		</div>
		<div lass="courses__item">
			<div class="red-element">
				<img src="./img/flag.svg" alt="" />
			</div>
			<h5>training Courses</h5>
			<div class="red-line"></div>
			<p>The gradual accumulation and small-scale..</p>
		</div>
	</div>
</div>
