<div class="watch-our-courses">
	<div class="watch-container">
		<div class="watch-container__item">
			<div class="red-line"></div>
			<h2>Watch our Courses</h2>
			<p>
				Problems trying to resolve the conflict between the two major
				realms of Classical physics: Newtonian mechanics
			</p>
			<a href="">Learn More</a>
		</div>
		<div class="watch-container__item images">
			<img class="percent" src="./img/percent_image.png" alt="" />
			<img class="photo" src="./img/photo_image.jpg" alt="" />
			<img class="singles" src="./img/singles_image.png" alt="" />
			<div></div>
		</div>
	</div>
</div>
